<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>好吃嘴——经典菜式</title>
<link rel="stylesheet" type="text/css" href="../static/CSS/layout.css">
<link rel="stylesheet" type="text/css" href="../static/CSS/style 4.css">
</head>

<body id="container">
 
<header>
<p><img src="../static/images/logo.jpg" width="172" height="143">Welcome to chengdu!</p>
<br></br>
<br></br>
<br></br>
<nav>
 <ul>
   <li><a href="index.html" style="color:#FFF">首页</a></li>
   <li><a href="index2.html" style="color:#FFF">周边景点</a></li>
   <li><a href="index3.html" style="color:#FFF">典藏游记</a></li>
   <li><a href="#">经典菜式</a></li>
   <li><a href="index5.html" style="color:#FFF">美食尝鲜</a></li>
   <li><a href="index6.html" style="color:#FFF">美食攻略</a></li>
   <li><a href="index7.html" style="color:#FFF">加入我们</a></li>
 </ul>
</nav>
</header>
<section id="p1">
<article>
<h1>成都火锅</h1>
<section id="p2"><img src="../static/images/火锅1.jpg" width="200" height="150">
</section>
<section id="p3">
<p>&nbsp;&nbsp;到成都，火锅是必不可少的体验。成都火锅注重麻辣鲜香，多数用猪油或牛油作底料，辅以大量的麻椒和花椒，口感麻辣。食材多用四川人喜欢的黄喉、毛肚、鹅肠、鳝丝等。 喜吃火锅的四川人都有一种用“干碟”的吃法（“碟”即调料）。四川人往往是用一个香油碟再加一个干碟，根据自己的口味，有些食物蘸香油碟（比如羊肉、 藕片、鱼等），有些食物蘸干碟（比如毛肚、腰片、鸭肠、黄喉等）。所谓“干碟”，其实是一小碟干的辣椒粉，加上盐，味精等，极其简单。</p>
<br></br>
</section>
</article>
<article>
<h1>洋芋糍粑</h1>
<section id="p2"><img src="../static/images/洋芋糍粑.jpg" width="200" height="150">
</section>
<section id="p3">
<p>&nbsp;&nbsp;九寨沟的洋芋（即土豆）特别好吃，吃法也很多，洋芋糍粑就是代表之一。煮熟的洋芋，去皮以后放在专门的木槽里，被大椎打成糍粑，然后和当地独特的酸菜一起煮好。吃时再根据不同口味放入盐、红油辣椒，或伴以蜂蜜、炒黄豆面等。</p>
<br></br>
<br></br>
<br></br>
</section>
</article>
<article>
<h1>担担面</h1>
<section id="p2"><img src="../static/images/担担面.jpg" width="200" height="150">
</section>
<section id="p3">
<p>&nbsp;&nbsp;担担面是著名的成都小吃。用面粉擀制成面条，煮熟，舀上炒制的猪肉末而成。成菜面条细薄，卤汁酥香，咸鲜微辣，香气扑鼻，十分入味。此菜在四川广为流传，常作为筵席点心。</p>
<br></br>
<br></br>
<br></br>
<br></br>
</section>
</article>
<article>
<h1>龙抄手</h1>
<section id="p2"><img src="../static/images/龙抄手.jpg" width="200" height="150">
</section>
<section id="p3">
<p>&nbsp;&nbsp;创始于本世纪40年代，当时春熙路“浓花茶社”的张光武等几位伙计商量合资开一个抄手店，取店名时就谐“浓”字音，也取“龙凤呈祥”之意，定名为“龙抄手”。龙抄手的主要特色是：皮薄、馅嫩、汤鲜。龙抄手的原汤是用鸡、鸭和猪身上几个部位 肉，经猛炖慢煨而成。</p>
<br></br>
<br></br>
<br></br>
</section>
</article>
</section>
<section id="p4">
<article>
  <form action="#" id="titleForm">
      <input type="text" name="s" class="sinput" placeholder="输入 回车搜索"  x-webkit-speech id="searchtitle" >  
      <a href="#" onClick="return addConfirm();"class="FunctionButton">搜索</a>
  </form>    
<ul>
  <li>成都火锅&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第一名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;综合评分：4.3分</li>
  <li>洋芋糍粑&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第二名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;综合评分：4.2分</li>
  <li>蹄花饭&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第四名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;综合评分：4.1分</li>
  <li>担担面&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第五名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;综合评分：4.0分</li>
</ul>
</article>
<article>
<h1>下载——定制你的精彩</h1>
<p><a href="../qita/客户端.zip"><img src="../static/images/简略.jpg" width="186" height="72"></a></p>
</article>
<article>
<h1>美食攻略</h1>
<section><a href="../qita/客户端.zip"><img src="../static/images/攻略.jpg" width="70" height="100"></a></section>
<section>
<h1>成都攻略</h1>
<p>更新时间：2014/07/28</p>
<p>下载次数：4238172</p>
<br></br>
<br></br>
<br></br>
<h1>免费下载</h1>
</section>
</article>
<article>
<h1>结伴而行</h1>
<a href="index7.html"><img src="../static/images/结伴而行.jpg" width="260" height="240"></a>
</article>
</section>
<section id="p5">
<footer>
<section>
<br></br>
<h2><a href="index2.html">美食&景点</a></h2>
<p><a href="index2.html">宽窄巷子</a></p>
<p><a href="index2.html">武侯祠</a></p>
<p><a href="index2.html">青羊宫</a></p>
<p><a href="index2.html">杜甫草堂</a></p>
</section>
<section>
<br></br>
<h2><a href="index3.html">分享天地</a></h2>
<p><a href="index3.html">精彩游记</a></p>
<p><a href="index6.html">精品攻略</a></p>
<p><a href="index6.html">旅行达人</a></p>
<p><a href="index3.html">互动点评</a></p>
</section>
<section>
<br></br>
<h2><a href="index7.html">关于我们</a></h2>
<p><a href="index7.html">加入我们</a></p>
<p><a href="index7.html">联系我们</a></p>
<p><a href="">网站简介</a></p>
<p>&nbsp;</p>
</section>
<h2><a href="#">
相关网站链接：http://you.ctrip.com/restaurant/chengdu104.html</a></h2>
</footer>
</section>
<marquee><h1>Welcome to chengdu!&nbsp;&nbsp;&nbsp;成都，真正属于吃货的天堂，小吃、川菜和火锅，构成了这个遍地美食的城市。来到成都的吃货，一定不要错过吃夜宵、接地气的好机会。</h1></marquee>
<footer id="page_footer">
<h2>制作成员：何文&杜欢 | 班级：计算机科学与技术5班 | 联系电话：18781960256</h2>
<h2>地址：成都市高新西区百叶路1号电子科技大学成都学院</h2>
</footer>
<audio src="duomeiti/Kristen Anderson-Lopez;Robert Lopez - In Summer.mp3" autoplay="true" loop>
  <script src="../static/js/jquery-1.8.2.min.js"></script>
<script>
  function addConfirm() {   
    var title = document.getElementById("searchtitle").value;
    $.ajax({
        type: "POST",
        url: "http://123.207.181.131/maze_server/public/index.php/hwsearchwithfood",
        cache: false,
           data: {title: title},
       dataType:'json',
       success: function(output) {
        if (output.success) {   
          var str = '';       
          for(i in output.data) {
            str = "<li>"+ output.data[0].content + "</li>";
          }
          
          $("ul li").remove();
          $("ul").append(str);
        }else {
            alert('搜索失败');
        }           
       },
       error: function(XMLHttpRequest, textStatus, errorThrown) {
           alert('失败');
       }         
   });
  }  
</script>
</body>
</html>