<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>好吃嘴——美食攻略</title>
<link rel="stylesheet" type="text/css" href="../static/CSS/layout.css">
<link rel="stylesheet" type="text/css" href="../static/CSS/style 6.css">
</head>

<body id="container">
 
<header>
<p><img src="../static/images/logo.jpg" width="172" height="143">Welcome to chengdu!</p>
<br></br>
<br></br>
<br></br>
<nav>
 <ul>
   <li><a href="index.html" style="color:#FFF">首页</a></li>
   <li><a href="index2.html" style="color:#FFF">周边景点</a></li>
   <li><a href="index3.html" style="color:#FFF">典藏游记</a></li>
   <li><a href="index4.html" style="color:#FFF">经典菜式</a></li>
   <li><a href="index5.html" style="color:#FFF">美食尝鲜</a></li>
   <li><a href="#">美食攻略</a></li>
   <li><a href="index7.html" style="color:#FFF">加入我们</a></li>
 </ul>
</nav>
</header>
<section id="p1">
<section id="p2"><img src="../static/images/攻略.jpg" width="225" height="312">
</section>
<section id="p3">
<article>
<br></br>
<h1>4240575次下载</h1>
<br></br>
<br></br>
<article>
<section><a href="../qita/客户端.zip"><img src="../static/images/PDF 2.1M.jpg" width="213" height="158"></a>
</section>
<section><a href="../qita/客户端.zip"><img src="../static/images/JPG 3.2M.jpg" width="211" height="159"></a>
</section>
<section>
<h1>快速下载</h1>
<br></br>
<a href="../qita/客户端.zip"><img src="../static/images/简略.jpg" width="186" height="72"></a>
</section>
</article>
</article>
<article>
<br></br>
<h1>更新时间：2014-07-28&nbsp;&nbsp;&nbsp;&nbsp;所属：四川/成都&nbsp;&nbsp;&nbsp;&nbsp;版本：2.0</h1>
</article>
</section>
</section>
<section id="p4">
<h1>攻略预览</h1>
<section><img src="../static/images/1.png" width="108" height="150">
</section>
<section><img src="../static/images/2.png" width="108" height="150">
</section>
<section><img src="../static/images/3.png" width="108" height="150">
</section>
<section><img src="../static/images/4.png" width="108" height="150">
</section>
</section>
<section id="p5">
<footer>
<section>
<br></br>
<h2><a href="index2.html">美食&景点</a></h2>
<p><a href="index2.html">宽窄巷子</a></p>
<p><a href="index2.html">武侯祠</a></p>
<p><a href="index2.html">青羊宫</a></p>
<p><a href="index2.html">杜甫草堂</a></p>
</section>
<section>
<br></br>
<h2><a href="index3.html">分享天地</a></h2>
<p><a href="index3.html">精彩游记</a></p>
<p><a href="index6.html">精品攻略</a></p>
<p><a href="index6.html">旅行达人</a></p>
<p><a href="index3.html">互动点评</a></p>
</section>
<section>
<br></br>
<h2><a href="index7.html">关于我们</a></h2>
<p><a href="index7.html">加入我们</a></p>
<p><a href="index7.html">联系我们</a></p>
<p><a href="">网站简介</a></p>
<p>&nbsp;</p>
</section>
<h2><a href="#">
相关网站链接：http://you.ctrip.com/restaurant/chengdu104.html</a></h2>
</footer>
</section>
<marquee><h1>Welcome to chengdu!&nbsp;&nbsp;&nbsp;成都，真正属于吃货的天堂，小吃、川菜和火锅，构成了这个遍地美食的城市。来到成都的吃货，一定不要错过吃夜宵、接地气的好机会。</h1></marquee>
<footer id="page_footer">
<h2>制作成员：何文&杜欢 | 班级：计算机科学与技术5班 | 联系电话：18781960256</h2>
<h2>地址：成都市高新西区百叶路1号电子科技大学成都学院</h2>
</footer>
<audio src="duomeiti/Kristen Anderson-Lopez;Robert Lopez - In Summer.mp3" autoplay="true" loop>
</body>
</html>