<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>好吃嘴</title>
<link rel="stylesheet" type="text/css" href="../static/CSS/layout.css">
<link rel="stylesheet" type="text/css" href="../static/CSS/style 2.css">
</head>

<body id="container">
 
<header>
<p><img src="../static/images/logo.jpg" width="172" height="143">Welcome to chengdu!</p>
<br></br>
<br></br>
<br></br>
<nav>
 <ul>
   <li><a href="index.html" style="color:#FFF">首页</a></li>
   <li><a href="#" style="color:#FFF">周边景点</a></li>
   <li><a href="index3.html" style="color:#FFF">典藏游记</a></li>
   <li><a href="index4.html" style="color:#FFF">经典菜式</a></li>
   <li><a href="index5.html" style="color:#FFF">美食尝鲜</a></li>
   <li><a href="index6.html" style="color:#FFF">美食攻略</a></li>
   <li><a href="index7.html" style="color:#FFF">加入我们</a></li>
 </ul>
</nav>
</header>

<article>
<h1>锦里</h1>
<section id="p2"><img src="../static/images/锦里.jpg" width="200" height="140">
</section>
<section id="p3">
<p>&nbsp;&nbsp;锦里 是成都最古老的街道。传说中的锦里，曾是西蜀历史上最古老、最具有商业气息的街道之一，现在的锦里是成都有名的步行商业街，以三国文化和四川传统民俗文化为主要内容。锦里由一大片清末建筑风格的仿古建筑组成，酒吧娱乐区、餐饮名小吃区、府第客栈区、特色旅游工艺品展销区错落有致，号称“西蜀第一街”，被誉为“成都版清明上河图”。</p>
<br></br>
<h1><a href="index4.html">美食在这里>></a></h1>
</section>
</article>
<article>
<h1>武侯祠</h1>
<section id="p2"><img src="../static/images/武侯祠.jpg" width="200" height="140">
</section>
<section id="p3">
<p>&nbsp;&nbsp;五一期间游，武侯祠值得一看.武侯祠座落于成都老南门外的武侯大街，是纪念三国时期蜀丞相诸葛亮的祠宇。初建时曾与昭烈帝刘备的祠庙相邻，后于明朝初年并入汉昭烈庙，成为中国唯一君臣合祀的祠庙。武侯祠主要由刘备、诸葛亮蜀汉君臣合祀祠宇及惠陵组成，占地面积广大，建筑布局美观和谐，庭院内矗立着参天古树，环境幽静雅致。</p>
<br></br>
<br>
<h1><a href="index5.html">美食在这里>></a></h1>
</section>
</article>
<article>
<h1>宽窄巷子</h1>
<section id="p2"><img src="../static/images/宽窄巷子.jpg" width="200" height="140">
</section>
<section id="p3">
<p>&nbsp;&nbsp;宽窄巷子是成都惟一遗留下来的清朝古街道，由宽巷子、窄巷子和井巷子三条平行排列的城市老式街道及其之间的四合院群落组成。它既有南方川西民居的特色，也有北方满蒙文化的内涵，是老成都“千年少城”城市格局的最后遗存。作为最具成都市井范儿的地标，宽窄巷子见证了成都的历史和变迁，与大慈寺、文殊院一起并称为成都三大历史文化名城保护街区。</p>
<br></br>
<h1><a href="index4.html">美食在这里>></a></h1>
</section>
</article>
<article>
<h1>杜甫草堂</h1>
<section id="p2"><img src="../static/images/杜甫草堂.jpg" width="200" height="140">
</section>
<section id="p3">
<p>&nbsp;&nbsp;杜甫草堂，又称浣花草堂、工部草堂、少陵草堂，位于成都市西门外的浣花溪畔，是唐代现实主义诗人杜甫流寓成都时的故居。杜甫在此居住近四年，创作诗歌240余首，草堂因此被视为中国文学史上的“圣地”。现今的杜甫草堂是经宋、元、明、清多次修复而成，草堂建筑古朴典雅、园林清幽秀丽，是现存杜甫行踪遗迹中规模最大、保存最完好、最具特色和知名度的一处。</p>
<br></br>
<h1><a href="index4.html">美食在这里>></a></h1>
</section>
</article>
<article>
<h1>青羊宫</h1>
<section id="p2"><img src="../static/images/青羊宫.jpg" width="200" height="140">
</section>
<section id="p3">
<p>&nbsp;&nbsp;青羊宫，川西第一道观，四川省重点文物保护单位，坐落在成都西南郊，风景优美，文物古迹众多，是中国著名的道教宫观。南面百花潭、武侯祠（汉昭烈庙），西望杜甫草堂，东邻二仙庵。相传宫观始于周，初名青羊肆。据考证，三国之际取名青羊观。到了唐代改名玄中观，在唐僖宗时又改观为宫。五代时改称青羊观，宋代又复名为青羊宫，直至今日。</p>
<br></br>
<h1><a href="index5.html">美食在这里>></a></h1>
</section>
</article>
</section>
<section id="p4">
<article>
<h1>2014口碑榜</h1>
<p>锦里&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第一名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;综合评分：4.3分</p>
<p>武侯祠&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第二名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;综合评分：4.2分</p>
<p>宽窄巷子&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第三名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;综合评分：4.2分</p>
<p>杜甫草堂&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第四名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;综合评分：4.1分</p>
<p>青羊宫&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第五名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;综合评分：4.0分</p>
</article>
<article>
<h1>下载——定制你的精彩</h1>
<p><a href="../qita/客户端.zip"><img src="../static/images/简略.jpg" width="186" height="72"></a></p>
</article>
<article>
<h1>美食攻略</h1>
<section><a href="../qita/客户端.zip"><img src="../static/images/攻略.jpg" width="70" height="100"></a></section>
<section>
<h1>成都攻略</h1>
<p>更新时间：2014/07/28</p>
<p>下载次数：4238172</p>
<br></br>
<br></br>
<br></br>
<h1>免费下载</h1>
</section>
</article>
<article>
<h1>结伴而行</h1>
<a href="index7.html"><img src="../static/images/结伴而行.jpg" width="260" height="240"></a>
</article>
</section>
<section id="p5">
<footer>
<section>
<br></br>
<h2><a href="index2.html">美食&景点</a></h2>
<p><a href="index2.html">宽窄巷子</a></p>
<p><a href="index2.html">武侯祠</a></p>
<p><a href="index2.html">青羊宫</a></p>
<p><a href="index2.html">杜甫草堂</a></p>
</section>
<section>
<br></br>
<h2><a href="index3.html">分享天地</a></h2>
<p><a href="index3.html">精彩游记</a></p>
<p><a href="index6.html">精品攻略</a></p>
<p><a href="index6.html">旅行达人</a></p>
<p><a href="index3.html">互动点评</a></p>
</section>
<section>
<br></br>
<h2><a href="index7.html">关于我们</a></h2>
<p><a href="index7.html">加入我们</a></p>
<p><a href="index7.html">联系我们</a></p>